<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls - {{ question.question_text }}</title>
    {% load static %} {% comment %} La etiqueta de plantilla static genera la URL absoluta de los archivos estáticos.  {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
  </head>
  <body>
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %} {% comment %} * Los formularios POST dirigidos a direcciones URL internas deben usar la etiqueta de plantilla csrf_token {% endcomment %}
      <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          {% for choice in question.choice_set.all %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
              <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
          {% endfor %}
      </fieldset>
    <br>
    <input type="submit" value="Vote">
    </form>
  </body>
</html>
